In [0]:
# Packages 
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [0]:
# Machine learning packages
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix

In [0]:
# load dataset
from google.colab import files
import io 
uploaded=files.upload()

Saving LogisticsSocial_Network_Ads.csv to LogisticsSocial_Network_Ads.csv

In [0]:
df=pd.read_csv(io.BytesIO(uploaded['LogisticsSocial_Network_Ads.csv']))

In [0]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [0]:
data=df.iloc[:,1:3]
y=df.iloc[:,-1]
#data.head()
#y.head()

In [0]:
data['Gender']=data['Gender'].replace({'Female':0,'Male':1})

In [0]:
data.head()

   Gender  Age
0       1   19
1       1   35
2       0   26
3       0   27
4       1   19

In [0]:
# Prepare the test data and training test 
#X=df.iloc[:,0:3] 
X=data.values
y=df.iloc[:,-1].values
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [0]:
model=LogisticRegression()

In [0]:
# Model trainning 
model.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [0]:
# Prevision 
y_pred=model.predict(X_test)

In [0]:
# Prevision comparision y_pred
comp=pd.DataFrame(y_pred,y_test)
comp

    0
0   1
1   1
0   0
1   1
0   0
.. ..
0   0
1   1
1   1
0   0
1   0

[80 rows x 1 columns]

In [0]:
print('Accuracy score is ', accuracy_score(y_test,y_pred))

Accuracy score is  0.9125

In [0]:
# Confusion matrix 
print("Confusion matrix is", confusion_matrix(y_test,y_pred))

Confusion matrix is [[50  2]
 [ 5 23]]