In [0]:
# Packages 
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [0]:
# Machine learning packages
#from sklearn import datasets  
from sklearn.model_selection import train_test_split
from sklearn import metrics
#from sklearn.metrics import accuracy_score
#from sklearn import datasets
#from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier

In [0]:
# load dataset
from google.colab import files
import io 
uploaded=files.upload()

Saving PastHires.csv to PastHires.csv

In [0]:
df1=pd.read_csv(io.BytesIO(uploaded['PastHires.csv']))

In [0]:
df1.head(10)

   Years Experience Employed?  ...  Interned Hired
0                10         Y  ...         N     Y
1                 0         N  ...         Y     Y
2                 7         N  ...         N     N
3                 2         Y  ...         N     Y
4                20         N  ...         N     N
5                 0         N  ...         Y     Y
6                 5         Y  ...         Y     Y
7                 3         N  ...         Y     Y
8                15         Y  ...         N     Y
9                 0         N  ...         N     N

[10 rows x 7 columns]

In [0]:
# Prepare dataset
df1['Level of Education'].value_counts()

BS     7
PhD    4
MS     2
Name: Level of Education, dtype: int64

In [0]:
import copy
df =  copy.deepcopy(df1)

d1={'Y':1,'N':0}
d2={'BS':1,'MS':2,'PhD':3}
df['Employed?']=df['Employed?'].map(d1)
df['Top-tier school']=df['Top-tier school'].map(d1)
df['Interned']=df['Interned'].map(d1)
df['Level of Education']=df['Level of Education'].map(d2)
#df['Previous employers']=df['Previous employers'].map(d2)
df['Hired']=df['Hired'].map(d1)
df.head(10)

   Years Experience  Employed?  ...  Interned  Hired
0                10          1  ...         0      1
1                 0          0  ...         1      1
2                 7          0  ...         0      0
3                 2          1  ...         0      1
4                20          0  ...         0      0
5                 0          0  ...         1      1
6                 5          1  ...         1      1
7                 3          0  ...         1      1
8                15          1  ...         0      1
9                 0          0  ...         0      0

[10 rows x 7 columns]

In [0]:
# Model creation
model=RandomForestClassifier(n_estimators=1000,random_state=42)

In [0]:
#Prepare train and test dataset  
X=df.iloc[:,:-1]
y=df.iloc[:,-1]
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [0]:
# model apply
model.fit(X_train,y_train)
y_pred=model.predict(X_test)

In [0]:
print('precision is', metrics.accuracy_score(y_test,y_pred))

precision is 0.6666666666666666

AttributeError: ignored

In [0]:
# Random forest